.venv/
.git/
.gitignore
__pycache__/
.pytest_cache/
.ruff_cache/
.env
k8s/
tests/
locustfile.py
experiments/
run10_stats.csv
run50_stats.csv
run100_stats.csv
runall_stats.csv
goot_batch.json
good.json
benchmark.py
README.md
README1.md
README2.md
*catboost_info/
results/
loadtest.py
dags/
platform/
scripts/
.dvc/cache/
.dvc/tmp/
.dvc/config.local
data/*.csv
